	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<strong>Soletrakr Advantages</strong>
					<ul style="display:inline;list-style-type: none;">
					</ul>

				</div>
				<div class="col-md-3">
					<strong>Soletrakr Projects</strong>

				</div>
				<div class="col-md-3">
					<strong>Resources</strong>

				</div>
				<div class="col-md-3">
					<strong>Support</strong>

				</div>
			</div>

		</div>
		<small class="text-center">
			SoleTrakr 2013
		</small>
	</div>