{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="en-us">
<head>
  <!-- internal stylesheets -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/soletrakr.css" rel="stylesheet">
  <!-- interal scripts -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/gmaps.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>

  {% dajaxice_js_import %}
</head>
<body>
	
  <div class="header">
    <!-- container -->
    <div class="container">

      {% include "nav.html" %}
      <img src="{{ STATIC_URL }}img/logo.png" alt="some_text">
      <img src="{{ STATIC_URL }}img/brand.png" class="pull-right" alt="some_text">
    </div>
  </div>
	<!-- container -->
	<div class="container">
		<div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      User profiles are currently offline due to maintenance. See the dashboard prototype here
    </div>
		<form class="form-signin" action="{% url "login" %}" method="POST">
    {#}  <h2 class="form-signin-heading">Sole<span class="green">Trakr</span></h2>
      <fieldset>
        {% csrf_token %}
        {{ login_form.as_p }}
      </fieldset>
      <button class="btn btn-warning" href="#">Forgot Password</button>
      <button class="btn btn-primary" type="submit" ;="">Sign in</button>
    </form>
    <form class="form-horizontal" role="form" action="{% url "login" %}" method="POST">
      <fieldset>
        {% csrf_token %}
        {{ login_form.as_p }}
      </fieldset> #}
      <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>
    </form>
  </div>

  {% include "footer.html" %}
  <!-- internal scripts -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/soletrackr.js"></script>
</body>
</html>