<div class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url "base" %}">SoleTrakr</a>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			{% if user.is_authenticated %}
			<li><a href="{% url "dashboard" %}"><i class="icon-dashboard"></i> Dashboard</a></li>
			{% else %}
			<li><a href="{% url "login" %}"><i class="icon-dashboard"></i> Dashboard</a></li>
			{% endif %}
			<li><a href="{% url "api" %}"><i class="icon-code"></i>  API</a></li>
			<li><a href="{% url "about_us" %}"><i class="icon-info-sign"></i> About Us </a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-group"></i>  Support <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url "faq" %}"><i class="icon-question-sign"></i>  FAQ</a></li>
					<li><a href="{% url "contact_us" %}"><i class="icon-envelope-alt"></i>  Contact Us</a></li>
				</ul>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{user}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url "settings" %}"><i class="icon-cogs"></i> Settings</a></li>
					<li><a href="#"><i class="icon-lock"></i> Change Password</a></li>
					<li><a href="#" onclick="Dajaxice.users.logout_user(Dajax.process);"><i class="icon-signout"></i> Logout</a></li>
				</ul>
			</li>
			{% else %}
			<div class="btn-group">
				<a class="btn btn-primary navbar-btn" href="{% url "register" %}" ><i class="icon-pencil"></i> Register</a>
				<a class="btn btn-default navbar-btn" href="{% url "login" %}" ><i class="icon-signin"></i> Login</a>
			</div>
			<span> </span>
			{% endif %}
		</ul>

	</div>
</div>

