requests
psycopg2
Django==2.2.24
https://github.com/django/django-localflavor/zipball/master
django-tastypie
django-userprofiles
django-dajaxice
django-dajax
django_extensions
django_localflavor_us
gunicorn
south
werkzeug

